<!DOCTYPE html>
<html>

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <title>AMChatter</title>
     <meta name="Simple chat app" content="Chat app">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
           rel="stylesheet"></head>
     <link rel="icon" type="image/png" href="assets/images/amdev.png">

<body>


<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><img id="user-image" src="https://via.placeholder.com/70x70" /></li>
      <li class="nav-item" id="user-name">{{user.local.username}}</li>
      <li class="nav-item"><a class="btn btn-logout" href="/logout">Log Out</a></li>
      <li class="nav-item"><a class="btn btn-logout" href="/settings">Settings</a></li>
      <li class="nav-item"><img id="friend-image" src="https://via.placeholder.com/35x35" /> User</li>
      <li class="nav-item"><img id="friend-image" src="https://via.placeholder.com/35x35" /> User</li>
      <li class="nav-item"><img id="friend-image" src="https://via.placeholder.com/35x35" /> User</li>
    </ul>
  </div>
</nav>

<div class="chat-wrapper">
  <div class="container-fluid">



  <div class="row">
    <div class="col-lg-2 col-md-4 side-nav">
        <img id="user-image" src="https://via.placeholder.com/70x70" />
        <p id="user-name">
          {{user.local.username}}
        </p>
        <p>
          <a class="btn btn-logout" href="/logout">Log Out</a>
        </p>
        <p>
          <a class="btn btn-logout" href="/settings">Settings</a>
        </p>

        <ul>
          <li><img id="friend-image" src="https://via.placeholder.com/35x35" /> User</li>
          <li><img id="friend-image" src="https://via.placeholder.com/35x35" /> User</li>
          <li><img id="friend-image" src="https://via.placeholder.com/35x35" /> User</li>
        </ul>
    </div>

    <div class="col-lg-10 col-md-8 chat-box">
      <div id="chatbox" class="chatbox-style">
      <ul id="messages"></ul>
      </div>
      <form action="">
        <input id="m" autocomplete="off" placeholder="Your message here..." autofocus/>
        <button class="btn btn-light"><i class="material-icons send-icon">send</i></button>
      </form>
      <p id="typing-user">&nbsp;</p>

    </div>





</div>

</div>




<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="/assets/js/app.js"></script>
<script src="/socket.io/socket.io.js"></script>


</body>

</html>
