<!DOCTYPE html>
<html>

<head>
     <meta charset="UTF-8">
     <title>AMChatter</title>
     <meta name="Simple chat app" content="Chat app">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="assets/css/app.css" />

</head>

<body>


<div class="chat-wrapper">

  <h1> Chatrr</h1>

  <div class="side-nav">
    <a class="btn btn-primary" href="/logout">Log Out</a>
    <img id="user-image" src="https://via.placeholder.com/70x70" />
    <p id="username"> username </p>
    <p>
      <a class="back-link" href="#">Settings</a>
    </p>
    <hr />

    <img id="friend-image" src="https://via.placeholder.com/35x35" />
    <h6>User1</h6>
    <hr />
    <img id="friend-image" src="https://via.placeholder.com/35x35" />
    <h6>User2</h6>
    <hr />
    <img id="friend-image" src="https://via.placeholder.com/35x35" />
    <h6>User3</h6>
    <hr />
    <img id="friend-image" src="https://via.placeholder.com/35x35" />
    <h6>User4</h6>
    <hr />
    <img id="friend-image" src="https://via.placeholder.com/35x35" />
    <h6>User5</h6>
    <hr />
    <img id="friend-image" src="https://via.placeholder.com/35x35" />
    <h6>User6</h6>
    <hr />
    <img id="friend-image" src="https://via.placeholder.com/35x35" />
    <h6>User7</h6>
    <hr />
  </div>


  <p style="color: #fff"> {{this.user.local.email}} </p>

<div id="chat">
  <div id="chatbox">
      <ul id="messages"></ul>
  </div>

  <form action="">
    <input id="m" autocomplete="off" />
    <button class="btn btn-light">Send</button>
  </form>
</div>


</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="assets/js/app.js"></script>
<script src="/socket.io/socket.io.js"></script>






</body>

</html>
