h1, h3 {
  text-align: center;
  margin-bottom: 20px; }

.btn-primary {
  display: block; }

.intro_buttons {
  margin-top: 100px; }

#sidebar {
  min-height: 100vh;
  border-right: 1px solid #ced4da; }
  #sidebar img {
    border-radius: 50%; }

#chatbox {
  border: 1px solid #ced4da;
  margin: 10px 10px 10px 0;
  min-height: 500px;
  border-radius: 4px; }

#submit-chat {
  margin-left: 10px; }
