@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700");
html, body {
  font-family: 'Raleway', sans-serif;
  background: #323232; }

h1, h2, h3 {
  text-align: center;
  letter-spacing: 1.4px;
  color: #fff;
  text-transform: uppercase; }

h1 {
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 20px; }

h2 {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 50px; }

.btn-default {
  background-color: #a0a9b4;
  border: 1px solid #a0a9b4;
  color: #fff;
  border-radius: 11700.4px;
  padding: 10px 45px;
  min-width: 250px; }

.btn-primary {
  background-color: #ff3366;
  border: 1px solid #ff3366;
  border-radius: 11700.4px;
  padding: 14px 45px;
  min-width: 250px;
  margin-top: 15px; }

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #ff0040;
  border: 1px solid #ff0040;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.btn-logout {
  background-color: #ff3366;
  border: 1px solid #ff3366;
  border-radius: 0;
  margin-left: 50px;
  color: #fff;
  font-size: 12px;
  padding: 5px 30px; }

.btn-logout:hover,
.btn-logout:active,
.btn-logout:focus,
.btn-logout:not(:disabled):not(.disabled):active {
  background-color: #ff0040;
  border: 1px solid #ff0040;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #fff; }

.btn-light {
  border-radius: 0; }

.intro_buttons {
  margin-top: 100px;
  text-align: center;
  margin: 50px auto 0 auto; }

.register-wrapper, .login-wrapper {
  margin: 100px auto; }

.chat-wrapper {
  margin: 30px auto; }
  .chat-wrapper #chat form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%; }
  .chat-wrapper #messages {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .chat-wrapper #messages li {
    margin-bottom: 15px; }
  .chat-wrapper #messages .msg {
    padding: 3px 10px;
    margin: 0 0 20px 10px;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 0.7); }
  .chat-wrapper #messages .user_name {
    font-weight: 700; }
  .chat-wrapper #chat {
    margin-left: 300px;
    padding: 0 25px; }
    .chat-wrapper #chat input {
      text-transform: none !important;
      border-radius: 0 !important;
      border: 2px solid #fff !important;
      background-color: #323232;
      padding: 10px 5px; }
    .chat-wrapper #chat input:focus {
      text-transform: none !important;
      border-radius: 0;
      border: 2px solid #fff;
      background-color: #323232;
      padding: 10px 5px; }
  .chat-wrapper #chatbox {
    margin: 10px 0;
    height: 500px;
    border-radius: 0;
    padding: 10px;
    overflow-y: auto; }
  .chat-wrapper .side-nav {
    width: 280px;
    float: left;
    color: #fff; }
    .chat-wrapper .side-nav ul {
      list-style-type: none; }
    .chat-wrapper .side-nav #username {
      margin-top: 10px; }
    .chat-wrapper .side-nav hr {
      border: 0.5px solid #fff; }
    .chat-wrapper .side-nav #user-image {
      margin-left: 40px;
      border-radius: 10px;
      padding: 10px; }
    .chat-wrapper .side-nav #friend-image {
      border-radius: 10px;
      padding: 10px; }
    .chat-wrapper .side-nav .user-name {
      padding: 10px; }

.register-wrapper label, .login-wrapper label, .chat-wrapper label {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1.4px; }

.register-wrapper input, .login-wrapper input, .chat-wrapper input {
  border-radius: 0;
  border: 2px solid #fff;
  background-color: #323232;
  padding: 10px 5px;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.4px; }

.register-wrapper input:focus, .login-wrapper input:focus, .chat-wrapper input:focus {
  background-color: #323232;
  color: #fff;
  text-transform: uppercase; }

.register-wrapper small, .login-wrapper small, .chat-wrapper small {
  margin-top: -25px; }

a.back-link {
  color: #fff; }

a.back-link:hover {
  color: #ff3366;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.user_name {
  color: #fff;
  font-size: 12px;
  margin-bottom: -15px; }
